@{
    Layout = null;
}
@model IEnumerable<BucketList.Models.ShareIdea>

<div class="col-lg-4 col-lg-offset-1">
    <h3>Share your BucketList goal with others!</h3>
    <table class="table table-responsive table-hover tableS " style="table-layout: fixed;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShareIdeas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.ActionLink("Add Goal", "CreateShareList", "Home", new { @class="btn btn-primary"})
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="word-wrap: break-word">
                        @Html.DisplayFor(modelItem => item.ShareIdeas)
                    </td>
                    <td style="word-wrap: break-word">
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>

